/* App.css */
body, html, #root {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

.centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
}
